footer {
    display: flex;
    justify-content: space-between;
    padding: 3em;
}

footer .content {
    font-size: .9em;
}

footer .content a {
    display: block;
    margin-bottom: .3em;
    color: #000;
}

footer .content small {
    font-size: 1em;
    color: #888;
}

footer .links {
    display: flex;
}

footer .links li {
    margin-left: .4em;
}

footer .links a {
    display: block;
    width: 1.7em;
    height: 1.7em;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    text-indent: -1000px;
    overflow: hidden;
}

footer .twitter a {
    background-image: url(../images/twitter.png);
}

footer .facebook a {
    background-image: url(../images/facebook.png);
}
